<footer class="site-footer">
    <div class="cont">
        <div class="left-block">
            <div class="logo-block">
                <a href="#"><img src="images/site-logo.png" alt=""></a>
            </div>
            <h2>financial company</h2>
        </div>

        <div class="right-block">
            <div class="block">
                <h2>resources</h2>
                <div class="info-block">
                    <ul>
                        <li><a href="#">about</a></li>
                        <li><a href="#">faq</a></li>
                        <li><a href="#">support</a></li>
                    </ul>
                </div>
            </div>

            <div class="block">
                <h2>address</h2>
                <div class="info-block">
                    <p>Suite 303
                        61 Marlborough Street
                        Surry Hills  NSW 2010</p>
                </div>

            </div>

            <div class="block">
                <h2>contact</h2>
                <div class="info-block">
                    <h3>info@yellcreative.com</h3>
                    <h4>+61 2 9310 1444</h4>

                    <ul class="soc-block">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="block">
                <h2>contact</h2>
                <div class="info-block">
                    <input type="text" placeholder="your email">
                    <button>subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="libs/OwlCarousel2-2.2.0/dist/owl.carousel.min.js"></script>
<script src="js/init.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js'></script>
<script src="js/canvas.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>