<footer class="site-footer">
    <div class="navbar navbar-bottom">
        <div class="container">
            <div class="navbar-brand logo-block">
                <a href="#"><img class="img-responsive" src="images/site-logo.png" alt=""></a>
        </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="libs/OwlCarousel2-2.2.0/dist/owl.carousel.min.js"></script>
<script src="js/init.js"></script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js'></script>
<script src="js/canvas.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>