<html>
<head>

    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/main.js"></script>

</head>
<body>

    <header>
        <nav>
            <ul>
                <% if(typeof(user) !== 'undefined') {%>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile"><%= user.username %></a></li>
                    <li><a href="/signout">Logout</a></li>
                <% } else { %>
                    <li><a href="/signin">Login</a> / <a href="/signup">Register</a></li>
                <% } %>
            </ul>
        </nav>
    </header>

    <main>