<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/hover.css">
    <link rel="stylesheet" href="libs/OwlCarousel2-2.2.0/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="styles/style.css">
          <link rel="stylesheet" href="styles/finance.css">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
</head>
<body>

<header class="site-header">
    <div class="cont">
        <div class="left-block">
            <div class="logo-block">
                <a href="/"><img src="images/site-logo.png" alt=""></a>
            </div>
        </div>
        <div class="right-block">
            <div class="burger-block">
                <button type="button" class="btn btn-default header-btn"><a href="/#buy">BUY</a></button>
                 <% if(typeof(user) === 'undefined') { %>
                    <button type="button" class="btn btn-default header-btn" data-toggle="modal" data-target="#myModalLogin">LOGIN</button>
                    <button type="button" class="btn btn-default header-btn register-btn" data-toggle="modal" data-target="#myModalRegister">REGISTER</button>
                <% } %>
                <% if(typeof(user) !== 'undefined') { %>
                    <div class="btn btn-default header-btn"><a href="/profile">PROFILE</a></div>
                    <div type="button" class="btn btn-default header-btn"><a href="/signout">LOGOUT</a></div>
                <% } %>
            </div>
        </div>
    </div>
    <% if(typeof(errorMessage) !== 'undefined') {%>
        <div class="error-not"><%= errorMessage %></div>
    <% } %>
</header>