<% include ./partials/header %>
<!-- Modals -->
<div class="modal fade" id="myModalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/login-cion.png" alt="">
                    <div>
                        <p>already have an account?</p>
                        <h2>log in here</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <form action="/signin" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button type="submit">log in</button>
                </form>

                <!--<div>
                    <label>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox"></label>
                        <span>keep me logged in</span>
                    </label>

                    <a href="#">forgot your password?</a>
                </div>-->
            </div>
            <div class="modal-footer">
                <h2>... or logg in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/reg-icon.png" alt="">
                    <div>
                        <p>don’t have an account?</p>
                        <h2>register now</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>

            <div class="modal-body">
                <form action="/signup" method="post">
                    <% if(typeof(ref) !== 'undefined') { %>
                        <p>
                            <input type="text" placeholder="Referer" name="referred" value="<%= ref %>" readonly="readonly">
                        </p>
                    <% } %>

                    <p>
                        <input type="text" placeholder="full name" name="full_name">
                    </p>

                    <p>
                        <input type="text" placeholder="username" name="username">
                    </p>

                    <p>
                        <input type="email" placeholder="email" name="email">
                    </p>

                    <p>
                        <input type="password" placeholder="password" name="password">
                    </p>
                    <button type="submit">register</button>
                </form>
            </div>

            <div class="modal-footer">
                <h2>... or register in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
<div class="site-content">
    <div class="profile-page">
        <div class="top-baner-block" style="height:808px;">
            <div class="cont">
                <div class="middle">
                    <h2>financial marketing
                        experts</h2>
                </div>
                <div class="menu-block">
                    <div class="left-block">
                        <ul>
                            <li><a href="/about">about</a></li>
                            <li><a href="/faq">faq</a></li>
                            <li><a href="#">support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <main id="about-main">

            <section>
                <div class="about-us-bg">
                    <div class="container text-center">
                        <div class="row">
                            <h1>about us</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="page-header">
                        <h1>What is CHRATOS?</h1>
                    </div>
                        
                    <p class="about-content">CHRATOS is a (crypto)currency that gives the world a passive income by investing in advancements for humanity through blockchain technology.<br/>
                        Holders of the currency will receive an automatic 31.5576% annual interest rate through a Proof­of­Stake algorithm. This interest rate is split up in seconds, which means you will get paid exactly 0.00000001 CHR every second.<br/>
                        Annual interest rates will be halved at 50%, 75% and 87,5% of the maximum amount being reached and will eventually consist of transaction fees when the maximum amount of 1,000,000,000 CHRATOS is reached. It should take ~22+ years before the first reward halving.<br/>
                        CHRATOS functions as an autonomous, decentralized dividend fund. All the funds generated during its crowdsale, from its commissions and and through its investments will be invested into public “Dividend Smart Contracts”.<br/>
                        These “Dividend Smart Contracts” will be signed with third party companies that will generate revenue for its currency­holders. CHRATOS will ALWAYS receive dividends in CHRATOS to ensure money flowing back into the currency. All Dividend Smart Contracts are public.
                    </p>
                    <div class="page-header">
                        <h1>INVESTMENT ROADMAP</h1>
                    </div>
                        
                    <p class="about-content"><strong>CHRATOS DEVELOPMENT ­> BITCOIN MINING ­> DIGITAL ASSETS ­> PLATFORM CREATION ­> CLEAN ENERGY GENERATION</strong><br/>
                        Holders of the currency will receive an automatic 31.5576% annual interest rate through a Proof­of­Stake algorithm. This interest rate is split up in seconds, which means you will get paid exactly 0.00000001 CHR every second.<br/>
                        Annual interest rates will be halved at 50%, 75% and 87,5% of the maximum amount being reached and will eventually consist of transaction fees when the maximum amount of 1,000,000,000 CHRATOS is reached. It should take ~22+ years before the first reward halving.<br/>
                        CHRATOS functions as an autonomous, decentralized dividend fund. All the funds generated during its crowdsale, from its commissions and and through its investments will be invested into public “Dividend Smart Contracts”.<br/>
                        These “Dividend Smart Contracts” will be signed with third party companies that will generate revenue for its currency­holders. CHRATOS will ALWAYS receive dividends in CHRATOS to ensure money flowing back into the currency. All Dividend Smart Contracts are public.
                    </p>
                    <p class="about-content">
                        Get your CHRATOS now!<br/>
                        HOW WILL THE CURRENCY FUNCTION AS AN INVESTMENT BANK?
                        Dividend Smart Contracts will be used to sign contracts with companies that will generate dividends for CHRATOS. These dividends are paid back in CHRATOS to CHRATOS, to be re­invested by investments decided by the holders of the currency and its chosen leaders.
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="page-header">
                                <h1>SALARIES</h1>
                            </div>
                                
                            <p class="about-content">The minimum amount people working for CHRATOS will receive is “enough”. “Enough” being decided by its currency holders every 31557600 seconds. All salaries will be paid out in CHRATOS. The maximum salary people the highest leader for CHRATOS will ever receive is 4 times “enough”. All other workers are in between 1­4 times “enough”.</p><br/>

                            <p class="about-content">The first Captain / CEO of the currency will be “World Authority on Passive Income”, Robert Mastenbroek.</p><br/>
                            <p class="about-content">At any time workers can be anonymously voted away / fired by its currency holders to have only the best people possible working in a certain position.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <img class="img-responsive img-chart" src="images/img-chart.png"></img>
                        </div>
                    </div>
                </div>
            </section>
            <section class="slack-section">
                <div class="holder">
                    <div class="wrapper text-center">
                        <div class="community-icon"></div>
                        <h1>You receive the best support from real users</h1><br>
                        <p>The Gulden community makes sure new ideas spring to life and answer questions from new users. Anyone can sign up for the Gulden slack to ask questions, propose ideas or meet new people within the Gulden community.</p>
                    </div>
                    <div class="signup-holder">
                        <div class="signup-form">
                            <h3 class="pull-left">
                                SIGN UP FOR CHRATOS.SLACK.COM
                            </h3>
                            <form>
                                <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter your Email">
                                </div>
                                <button type="submit" class="btn-lg pull-right">Sign up</button>
                            </form>
                            <div class="signup-disc">
                                Shortly after applying you’ll receive an invitation for <a href="https://guldencommunity.slack.com" target="_blank">Guldencommunity.slack.com</a>. Channels are moderated and maintained by the Gulden Developers. <a href="https://slack.com" target="_blank">Click here</a> or more information about slack.
                            </div>
                            <div class="pull-left found-on">
                                <h3>We can also be found on:</h3>
                                <div class="channels-options">
                                    <a href="https://twitter.com/chratos" class=target="_blank">twitter.com/chratos</a><br/>
                                    <a href="https://facebook.com/chratos" target="_blank">facebook.com/chratos</a><br/>
                                    <a href="http://www.meetup.com/chratos" target="_blank">meetup.com/chratos</a><br/>
                                    <a href="https://medium.com/@chratos" target="_blank">medium.com/@chratos</a><br/>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>

<% include ./partials/footer %>