<% include ./partials/header %>

<div class="site-content">

    <div class="profile-page">
        <div class="top-title-block">
            <div class="cont">
                <h2>faq</h2>
            </div>
        </div>
        <div class="cont">
            <div class="left-block">
                <div class="image-block">
                    <img src="images/profile-image.png" alt="">
                </div>
            </div>

            <div class="right-block">
                  FAQ PAGE
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>