<% include ./partials/header %>
<div class="site-content">
    <div class="profile-page faq-page">
        <main>
            <div class="container-fluid faq-cont">
                <div class="faq-searchinner">
                    <h2>frequently asked questions</h2>
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="type to search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- faq-cont end -->
            <!-- Accordion -->
            <div class="container">
                <div class="row faq-accordion"><!-- FAQ accordion -->
                    <div class="col-sm-6">
                        <div class="faq-headers-div">
                            <h3>general questions</h3>
                            <article>all you need to know about our company and how to get support</article>
                        </div>
                        <div class="accord">
                            <div class="panel-group wrap" id="bs-collapse">

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#one">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="one" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>

                                </div>
                                <!-- end of panel -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#two">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="two" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>

                                    </div>
                                </div>
                                <!-- end of panel -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#three">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="three" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#four">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="four" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#five">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="five" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel -->


                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#six">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="six" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#bs-collapse" href="#seven">where does it come from?</a>
                                        </h4>
                                    </div>
                                    <div id="seven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                            took a galley of type and scrambled it to make a type specimen book.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel -->
                            </div>
                            <!-- end of #bs-collapse  -->

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="faq-headers-div">
                            <h3>other questions</h3>
                            <article>the answers on most common questions are discribed bellow</article>
                            <div class="accord">
                                <div class="panel-group wrap" id="bs-collapse2">

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#one1">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="one1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#two2">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="two2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#three3">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="three3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#four4">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="four4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#five5">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="five5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#six6">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="six6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->

                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#bs-collapse2" href="#seven7">where does it come from?</a>
                                            </h4>
                                        </div>
                                        <div id="seven7" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                                took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of panel -->
                                </div>
                                <!-- end of #bs-collapse  -->
                            </div>
                        </div>

                    </div>
                </div><!-- FAQ accordion wrapper end-->
            </div><!-- Accordion end -->
        </main>
    </div>
</div>

<% include ./partials/footer %>