<% include ./partials/header %>

<!-- Modals -->
<div class="modal fade" id="myModalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/login-cion.png" alt="">
                    <div>
                        <p>already have an account?</p>
                        <h2>log in here</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <form action="/signin" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button type="submit">log in</button>
                </form>

                <!--<div>
                    <label>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox"></label>
                        <span>keep me logged in</span>
                    </label>

                    <a href="#">forgot your password?</a>
                </div>-->
            </div>
            <div class="modal-footer">
                <h2>... or logg in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/reg-icon.png" alt="">
                    <div>
                        <p>don’t have an account?</p>
                        <h2>register now</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>

            <div class="modal-body">
                <form action="/signup" method="post">
                    <% if(typeof(ref) !== 'undefined') { %>
                        <p>
                            <input type="text" placeholder="Referer" name="referred" value="<%= ref %>" readonly="readonly">
                        </p>
                    <% } %>

                    <p>
                        <input type="text" placeholder="full name" name="full_name">
                    </p>

                    <p>
                        <input type="text" placeholder="username" name="username">
                    </p>

                    <p>
                        <input type="email" placeholder="email" name="email">
                    </p>

                    <p>
                        <input type="password" placeholder="password" name="password">
                    </p>
                    <button type="submit">register</button>
                </form>
            </div>

            <div class="modal-footer">
                <h2>... or register in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div class="site-content">
    <div class="home-page">
        <div class="top-baner-block">
            <canvas></canvas>
            <div class="cont">
                <div class="middle text-center">
                    <h2>FINANCIAL MARKETING EXPORT</h2>
                </div>

                <div class="menu-block">
                    <div class="left-block">
                        <ul>
                            <li><a href="/about">about</a></li>
                            <li><a href="/faq">faq</a></li>
                            <li><a href="#">support</a></li>
                        </ul>
                    </div>

<!-----                    <div class="right-block">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>    ----->
                </div>
            </div>
        </div>

        <div class="what-we-do">
            <div class="top-title-block">
                <div class="cont">
                    <h2>what we do</h2>
                </div>
            </div>

            <div class="what-we-do-content">
                <div class="cont">
                    <div class="block">
                        <a href="#">
                            <div class="block-content">
                                <div class="image-block">
                                    <img src="images/icons/time.svg" alt="">
                                </div>

                                <div class="text-block">
                                    <h2>superannuation</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="block">
                        <a href="#">
                            <div class="block-content">
                                <div class="image-block">
                                    <img src="images/icons/compass.svg" alt="">
                                </div>

                                <div class="text-block">
                                    <h2>banks & credit unions</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="block">
                        <a href="#">
                            <div class="block-content">
                                <div class="image-block">
                                    <img src="images/icons/umbrella.svg" alt="">
                                </div>

                                <div class="text-block">
                                    <h2>insurance</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="block">
                        <a href="#">
                            <div class="block-content">
                                <div class="image-block">
                                    <img src="images/icons/wallet.svg" alt="">
                                </div>

                                <div class="text-block">
                                    <h2>wealth management</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="talk-to-us">
            <div class="cont">
                <div class="middle">
                    <h2>we can help you have better conversations with your customers</h2>
                    <button>talk to us </button>
                </div>
            </div>
        </div>

        <div class="partners-block">
            <div class="cont">


                <div class="owl-carousel owl-theme carousel2">
                    <div class="item">
                        <div class="slider-list">
                            <img src="images/1.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/2.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/2.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/4.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/5.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/6.jpg" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="slider-list">
                            <img src="images/7.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>