<% include ./partials/header %>

<!-- Modals -->
<div class="modal fade" id="myModalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/login-cion.png" alt="">
                    <div>
                        <p>already have an account?</p>
                        <h2>log in here</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <form action="/signin" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button type="submit">log in</button>
                </form>

                <!--<div>
                    <label>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox"></label>
                        <span>keep me logged in</span>
                    </label>

                    <a href="#">forgot your password?</a>
                </div>-->
            </div>
            <div class="modal-footer">
                <h2>... or logg in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="left-block">
                    <img src="images/reg-icon.png" alt="">
                    <div>
                        <p>don’t have an account?</p>
                        <h2>register now</h2>
                    </div>
                </div>
                <div class="right-block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>

            <div class="modal-body">
                <form action="/signup" method="post">
                    <% if(typeof(ref) !== 'undefined') { %>
                        <p>
                            <input type="text" placeholder="Referer" name="referred" value="<%= ref %>" readonly="readonly">
                        </p>
                    <% } %>

                    <p>
                        <input type="text" placeholder="full name" name="full_name">
                    </p>

                    <p>
                        <input type="text" placeholder="username" name="username">
                    </p>

                    <p>
                        <input type="email" placeholder="email" name="email">
                    </p>

                    <p>
                        <input type="password" placeholder="password" name="password">
                    </p>
                    <button type="submit">register</button>
                </form>
            </div>

            <div class="modal-footer">
                <h2>... or register in with:</h2>
                <ul>
                    <li>
                        <a href="/auth/facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span>facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/google">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <span>google + </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
<div class="site-content">
    <div class="home-page">
        <div class="top-baner-block">
            <canvas></canvas>
            <div class="cont">
                <div class="middle text-center">
                    <h2>FINANCIAL MARKETING EXPORT</h2>
                    <p>Chartos is the world's most popular way to buy and sell bitcoin and ethereum</p>
                    <div class="form-container">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="email">Email address:</label>
                                <input class="form-control" name="email" id="email" type="email" placeholder="Your Email" required>
                                <button class="btn btn-info btn-lg" type="submit">SignUp</button>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="menu-block">
                    <div class="left-block">
                        <ul>
                            <li><a href="/about">about</a></li>
                            <li><a href="/faq">faq</a></li>
                            <li><a href="#">support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section buy">
                <div id="buy"></div>
                <div class="holder">    
                    <div class="buy-form">
                        <form action="https://gulden.com/wp-admin/admin-post.php" method="post" id="nocks_buy_form" novalidate="novalidate">
                        <div class="buy-header">
                            <h2>Buy your Guldens</h2>
                            <p>It only takes a minute.</p>
                        </div>
                        <div class="buy-title choose-amount" style="display: block;">Choose amount</div>
                        <div class="buy-options">
                            <div class="buy-option">
                                <label><input type="radio" name="amount" value="10" checked="checked" required="" aria-required="true"><span><span class="buy-price">€ 10</span><br><span class="buy-amount"><span class="price-refresh" data-id="ten">440</span> Gulden</span><span class="checked"></span></span></label>
                            </div>
                            <div class="buy-option">
                                <label><input type="radio" name="amount" value="25" required="" aria-required="true"><span><span class="buy-price">€ 25</span><br><span class="buy-amount"><span class="price-refresh" data-id="twentyfive">1129</span> Gulden</span><span class="checked"></span></span></label>
                            </div>
                            <div class="buy-option">
                                <label><input type="radio" name="amount" value="50" required="" aria-required="true"><span><span class="buy-price">€ 50</span><br><span class="buy-amount"><span class="price-refresh" data-id="fifty">2278</span> Gulden</span><span class="checked"></span></span></label>
                            </div>
                            <div class="buy-option">
                                <label><input type="radio" name="amount" value="more" required="" aria-required="true"><span><span class="buy-price">More</span><br><span class="buy-amount">&nbsp;</span><span class="checked"></span></span></label>
                            </div>
                        </div>
                        <div class="buy-title your-details" style="display: block;">Your details</div>
                        <div class="buy-payment" style="display: block;">
                                <div class="buy-inputs">
                                    <div class="buy-input">
                                        <input type="text" name="withdrawal" placeholder="Gulden receive address" required="" aria-required="true">
                                        <div class="aboutnlg"></div>
                                    </div>
                                    <div class="nlgdesc-outer">
                                    <div class="nlgdesc">
                                        <div class="nlgdesc-inner">
                                            <div class="nlgclose"></div>
                                            <div class="nlgexample">
                                                <div class="nlganimation"></div>
                                            </div>
                                            <div class="nlgcontent">
                                                <p>Your receive address can be found under "Receive" in the Gulden app.</p>
                                                <div class="sample">Example address:</div>
                                                <div class="address">GT8xCMQnDA5X2ayxUbvSQVygNUigEkuk21</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-select">
                                    <div class="paymentMethod-select">
                                        <select name="paymentMethod" required="" aria-required="true">
                                            <option disabled="disabled">Select your payment method</option>
                                            <option value="ideal" selected="selected">iDEAL</option>
                                            <option value="bancontact">Bancontact</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="buy-select buy-select-last ideal-only">
                                    <div class="bank-select">
                                        <select name="bank">
                                            <option selected="selected" disabled="disabled">Select your bank</option>
                                            <option value="1">ABN Amro</option>
                                            <option value="2">Rabobank</option>
                                            <option value="4">ING Bank</option>
                                            <option value="5">SNS Bank</option>
                                            <option value="8">ASN Bank</option>
                                            <option value="9">RegioBank</option>
                                            <option value="10">Triodos Bank</option>
                                            <option value="11">Van Lanschot Bankiers</option>
                                            <option value="12">Knab bank</option>
                                            <option value="5080">Bunq</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buy-title buy-calculated-check-amount">Did you buy <span>for more than 40 euro</span> in the past week?</div>
                        <div class="buy-checks">
                            <div class="buy-check">
                                <label><input type="radio" name="check" value="yes" required="" aria-required="true"><span><span class="buy-yes">Yes</span></span></label>
                            </div>
                            <div class="buy-check">
                                <label><input type="radio" name="check" value="no" required="" aria-required="true"><span><span class="buy-no">No</span></span></label>
                            </div>
                        </div>
                        <div class="buy-limit">When you want to buy for more than 50 euros a week, registration is required with our partner Nocks.</div>
                        <div class="buy-terms">By clicking “Buy Gulden” you confirm that you’ve written down the backup phrase of your app and you explicitly and unconditionally agree that you and you alone are responsible for the management and safe-keeping of your Gulden; by clicking you also agree to the <a href="https://nocks.co/terms" target="_blank">terms set by Nocks B.V.</a></div>
                        <div class="buy-submit">
                            <input type="submit" id="submit" class="submit" value="Buy Guldens">
                            <div class="nocks"><a href="https://nocks.co/user/register" target="_blank">Register at Nocks</a></div>
                            <div class="extra-row">
                                <div class="extra-column">
                                    <div class="provider"><a href="https://nocks.co" target="_blank">Processed directly<br>by Nocks</a></div>
                                </div>
                                <div class="extra-column">
                                    <div class="ssl">SSL secured<br>connection</div>
                                </div>
                                <div class="extra-column">
                                    <div class="sales-number">109M</div>
                                    <div class="sales">Guldens<br>sold</div>
                                </div>
                            </div>
                            <input type="hidden" name="action" value="nocks_buy_form_post">
                        </div>
                    </form>
            <script>

                // var ajaxurl = "https://gulden.com/wp-admin/admin-ajax.php";
                var n = jQuery.noConflict();

                n.validator.addMethod("notWithdrawalExample", function(value, element) {
                        return (value != "GT8xCMQnDA5X2ayxUbvSQVygNUigEkuk21");
                    },
                    'Dit is het voorbeeld adres, je eigen adres ind je onder het kopje "Ontvangen" in de Gulden app.'
                );

                function priceRefresh() {
                    n.ajax({
                        url: ajaxurl,
                        data: {
                            action: 'ajax_price_reload'
                        },
                        type: 'GET'
                    }).success(function( data ) {
                        if(parseInt(data.ten) > 0)
                        {
                            n('.price-refresh[data-id="ten"]').text(data.ten);
                        }

                        if(parseInt(data.twentyfive) > 0)
                        {
                            n('.price-refresh[data-id="twentyfive"]').text(data.twentyfive);
                        }

                        if(parseInt(data.fifty) > 0)
                        {
                            n('.price-refresh[data-id="fifty"]').text(data.fifty);
                        }
                    });
                }

                /*
                setInterval(function(){
                    priceRefresh();
                }, 30000);
                */

                n(document).ready(function(){
                    n('#nocks_buy_form').validate({
                        rules: {
                            amount: {
                                required: true,
                                number: true
                            },
                            email: {
                                required: false,
                                email: true
                            },
                            withdrawal: {
                                required: true,
                                pattern: "^[Gg3][a-km-zA-HJ-NP-Z0-9]{26,33}$",
                                notWithdrawalExample: true
                            },
                            paymentMethod: {
                                required: true
                            },
                            bank: {
                                required: function(element){
                                    return (n("select[name=paymentMethod]").val() == 'ideal');
                                },
                                number: true
                            },
                            check: {
                                required: true
                            }
                        },
                        messages:
                        {
                            bank: "Through what bank did you want to pay?",
                            withdrawal: "Your Gulden receive address can be found in the Gulden app.",
                            email: "Please enter a valid email address."
                        }
                    });

                    n( ".aboutnlg, .nlgclose" ).click(function() {
                       $('.nlgdesc').stop().slideToggle( "slow" );
                        return false;
                    });

                    n("select[name=paymentMethod]").on('keyup change',function(){
                        var paymentMethod = n(this).val();

                        if(paymentMethod === 'ideal')
                        {
                            n('.ideal-only').show();
                        }
                        else
                        {
                            n('.ideal-only').hide();
                        }
                    });


                    n( ".buy-option, .buy-check" ).click(function() {

                        var maxEuroAllowed = 50;

                        n('.buy-limit').hide();

                        var amount = n(".buy-form").find('input[name=amount]:checked').val();
                        var check = n(".buy-form").find('input[name=check]:checked').val();

                        if(amount == 'more')
                        {
                            n('.submit, .buy-payment, .buy-calculated-check-amount, .buy-checks, .buy-title').hide();
                            n('.buy-limit, .buy-submit .nocks').show();
                            n('.buy-terms').hide();
                        }
                        else
                        {
                            n('.buy-terms').show();

                            if(amount < maxEuroAllowed)
                            {
                                n('.buy-calculated-check-amount span').text('for more than ' + (maxEuroAllowed - amount) + ' euro');
                            }
                            else
                            {
                                n('.buy-calculated-check-amount span').text('guldens');
                            }

                            n('.buy-limit, .buy-submit .nocks').hide();
                            n('.submit, .buy-payment, .buy-calculated-check-amount, .buy-checks, .buy-title').show();

                            if(check == 'yes')
                            {
                                n('.submit').hide();
                                n('.buy-limit, .buy-submit .nocks').show();
                                n('.buy-terms').hide();
                            }
                            else
                            {
                                n('.buy-limit, .buy-submit .nocks').hide();
                                n('.buy-terms').show();
                                n('.submit').show();
                            }

                            n('.purchase-hide').hide();
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>

        </div>
    </div>
</div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/js/scripts.js"></script>
    <script src="js/index.js"></script>

<% include ./partials/footer %>