<% include ./partials/header %>

<h1><%= title %></h1>

<form id="user-signin-form" method="post" action="/signin">

    <% if(typeof(errorMessage) !== 'undefined') {%>
        <span><%= errorMessage %></span>
    <% } %>

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <br>

    <a id="user-signin" href="javascript: void(0)">Login</a>
    <a href="/signup">Register</a>

</form>

<% include ./partials/footer %>