<% include ./partials/header %>

<h1><%= title %></h1>

<form id="user-signin-form" method="post" action="/signin" class="form-horizontal form-user">

    <% if(typeof(errorMessage) !== 'undefined') {%>
        <span><%= errorMessage %></span><br>
    <% } %>

    <div class="form-group">
        <label class="control-label col-sm-3 required">Username</label>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input class="form-control" id="username" value="" type="text" name="username" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 required">Password</label>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input class="form-control" id="password" value="" type="password" name="password" required />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
        <a id="user-signin" href="javascript: void(0)" class="btn btn-success">Login</a>
        <a href="/signup" class="btn btn-info">Register</a>
        <a href="/auth/facebook" class="btn btn-default"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        <a href="/auth/google" class="btn btn-default"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
        </div>
    </div>

</form>

<% include ./partials/footer %>